name: Deploy Prod To Aws

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.2.0

        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /home/flutemeet-booking/htdocs/booking.flutemeet.org
            git pull
            composer install --no-dev --optimize-autoloader
            npm install
            npm run build
            php artisan optimize
            php artisan migrate --force
            php artisan queue:restart
